/* Typography */

$fa-font-path:"../../node_modules/font-awesome/fonts";

@import "../../node_modules/font-awesome/scss/font-awesome";

//-- Heading map
$headings: (
    (h1, 45px, 1em),
    (h2, 28px, 1em),
    (h3, 24px, 1em),
    (h4, 22px, 1.5em),
    (h5, 21px, 1.5em),
    (h6, 18px, 1.5em)
);

@each $heading, $size, $line-height in $headings {
  #{$heading} {
    @include font-size($size);

    line-height: $line-height;
    font-weight: $heading-font-weight;
  }
}
