/* Buttons */

.btn {
  @include font-size(14px);

  border-radius: 5px;
  padding: 0 10px;
  text-align: center;
  border: 0;
  transition: background 0.3s ease;

  &:focus {
    outline: 0;
  }

  &--focus {
    background: rgba(255, 255, 255, 0.2);
  }

  &--clear {
    color: #F7F9F9;
    background: none;
    border-radius: 0;
  }

  &--primary {
    color: #FFF;
    background: #8DD1BE;
    width: 100%;
    padding: 12px 0;
  }
}
